<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Deal - The ultimate college marketplace</title>
    <link rel="icon" href="./logo/cd.png" type="image/">
    <meta name="description"
        content="Campus Deal is an online marketplace for college students to buy and sell goods and services. Find great deals on textbooks, electronics, and dorm room essentials.">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/courses.css">
    <link rel="stylesheet" href="./css/dark.css">
    <script src="https://kit.fontawesome.com/80908bc01a.js" crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>

</head>

<body>
    <header>
        <!-- logo, navigation menu, and introductory content-->
        <div class="accessiblity_logo_cont">
            <!-- <span></span> -->
            <span id="menu_bar">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </span>
            <div class="logo">Campus Deal</div>
            <span id="accessibility" title="accessibility"><i class="fa fa-universal-access fa-2x"
                    style="float: right;  padding: 10px;" aria-hidden="true"></i>
                <ul class="accessibility_menu">
                    <li><a href="#"><i class="fa fa-moon-o btn" title="dark theme" id="theme-toggle"
                                aria-hidden="true"></i></a></li>
                    <li>
                        <div id="google_translate_element" style="padding: 10px;"></div>
                    </li>

                </ul>
            </span>
        </div>
        <nav class="main_menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li class="active"><a href="/courses">Courses</a></li>
                <li><a href="trade">Buy/Sell</a></li>
                <li><a href="/blogs">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
                <li title="your cart" class="cart-icon"><a href="/cart"><i class="fa fa-shopping-cart"
                            aria-hidden="true"></i>
                        <!-- <span class="cart-count">0</span> -->
                    </a>
                </li>
                <li class="navbar-signin"><a href="/login">Sign In / Sign Up</a></li>
            </ul>
        </nav>
        <!-- <details>
            <summary>Welcome to Campus Deal</summary>
            <div class="intro_text">Welcome to Campus Deal, the online marketplace designed exclusively for college
                students.
                Whether you're looking to buy or sell textbooks, dorm room essentials, or other college necessities,
                Campus Deal makes it easy to find great deals and save money. Explore our extensive selection of
                products
                today and start swapping!</div>
        </details> -->
    </header>


    <main>
        <div class="tags_wrapper_cont">
            <div class="tags_wrapper">
                <h3 class="tag_heading active-tag" id="courses_available_head">Courses Available</h3>
                <h3 class="tag_heading" id="courses_material_head">Course Materials</h3>
                <h3 class="tag_heading" id="courses_syllabi_head">Courses Syllabus</h3>
                <h3 class="tag_heading" id="student_testimonials_head"> Student Testimonials</h3>
                <h3 class="tag_heading" id="faqs_head"> FAQs</h3>
            </div>
        </div>
        <div class="tags_content_section_cont">

            <div id="courses_available" class="tag_content_section active_tag_content_section">
                <h2>Courses Available</h2>
                <p>We offer a wide range of courses to meet your academic and professional needs. From business and
                    marketing to computer science and engineering, our courses are designed to help you achieve your
                    goals and advance your career. Browse our course catalog to find the right program for you.</p>
                <!-- Add course cards or list here -->
                <ul class="courses_list">
                    <li class="course_item" id="bsc">Bachelor Of Science</li>
                    <li class="course_item" id="bcom">Bachelor Of Commerce</li>
                    <li class="course_item" id="ba">Bachelor Of Arts</li>
                </ul>
                <div class="sub_courses_container">
                    <ul class="sub_courses_list bsc_sub_courses bsc_sub_courses_courses">

                    </ul>
                </div>
                <div class="sub_courses_container">
                    <ul class="sub_courses_list bcom_sub_courses bcom_sub_courses_courses">

                    </ul>
                </div>
                <div class="sub_courses_container">
                    <ul class="sub_courses_list ba_sub_courses  ba_sub_courses_courses">

                    </ul>
                </div>
            </div>

            <div id="course_materials" class="tag_content_section">
                <h2>Course Materials</h2>
                <p>Our courses are supported by high-quality materials, including textbooks, lecture notes, and
                    multimedia resources. You can access these materials online or in print, depending on your
                    preference. We also offer additional resources, such as practice exercises and quizzes, to help you
                    master the course material.</p>
                <!-- Add materials list or resources here -->
                <ul class="courses_list">
                    <li class="course_item" id="bsc">Bachelor Of Science</li>
                    <li class="course_item" id="bcom">Bachelor Of Commerce</li>
                    <li class="course_item" id="ba">Bachelor Of Arts</li>
                </ul>
                <div class="sub_courses_container">
                    <ul class="sub_courses_list bsc_sub_courses bsc_sub_courses_material">

                    </ul>
                </div>
                <div class="sub_courses_container">
                    <ul class="sub_courses_list bcom_sub_courses bcom_sub_courses_material">

                    </ul>
                </div>
                <div class="sub_courses_container">
                    <ul class="sub_courses_list ba_sub_courses ba_sub_courses_material">

                    </ul>
                </div>
            </div>

            <div id="course_syllabus" class="tag_content_section">
                <h2>Course Syllabus</h2>
                <p>Our course syllabi provide an overview of the course content, learning objectives, and assessment
                    criteria. You can review the syllabus before enrolling in a course to get a better understanding of
                    what to expect. We update our syllabi regularly to ensure that they reflect the latest trends and
                    best practices in the field.</p>
                <!-- Add syllabus table or list here -->
                <ul class="courses_list">
                    <li class="course_item" id="bsc">Bachelor Of Science</li>
                    <li class="course_item" id="bcom">Bachelor Of Commerce</li>
                    <li class="course_item" id="ba">Bachelor Of Arts</li>
                </ul>
                <div class="sub_courses_container">
                    <ul class="sub_courses_list bsc_sub_courses bsc_sub_courses_syllabus">

                    </ul>
                </div>
                <div class="sub_courses_container">
                    <ul class="sub_courses_list bcom_sub_courses bcom_sub_courses_syllabus">

                    </ul>
                </div>
                <div class="sub_courses_container">
                    <ul class="sub_courses_list ba_sub_courses ba_sub_courses_syllabus">

                    </ul>
                </div>
            </div>

            <div id="student_testimonials" class="tag_content_section">
                <h2>Student Testimonials</h2>
                <p>Our students are our best advocates. Read what they have to say about their experience with our
                    courses and how they have benefited from our programs. We are proud of the success stories of our
                    graduates and are committed to helping you achieve your own goals.</p>
                <!-- Add testimonial quotes or videos here -->
            </div>

            <div id="faqs_cont" class="tag_content_section">
                <h2>FAQs</h2>
                <p>Here are some frequently asked questions about our courses and programs. If you don't find the answer
                    to your question here, please feel free to contact us.</p>
                <hr>
                <div class="faq_list">
                    <h3>How does Campus Deal work?</h3>
                    <p class="faqs_ans">
                        Campus Deal is an online marketplace for college students to buy and sell goods and services.
                        Users can create an account, list items or services they want to sell, and browse or search for
                        items they want to buy. Buyers and sellers can communicate through our platform to arrange
                        payment and delivery.
                    </p>
                    <hr>
                    <h3>Is Campus Deal only for college students?</h3>
                    <p class="faqs_ans">
                        Yes, Campus Deal is exclusively for college students. We require users to sign up with a valid
                        college email address to ensure that only students are using our platform.
                    </p>
                    <hr>
                    <h3>How do I pay for items I want to buy on Campus Deal?</h3>
                    <p class="faqs_ans">
                        You can pay for items using a credit or debit card through our secure payment processing system.
                    </p>
                    <hr>
                    <h3>How do I sell items on Campus Deal?</h3>
                    <p class="faqs_ans">
                        Now, this feature is not available, but soon it will be implemented.
                    </p>
                    <hr>
                </div>
            </div>

        </div>

    </main>

    <footer id="site_footer">
        <!-- copyright information, links to social media profiles, and other information-->

        <div class="logo">Campus Deal</div>
        <div class="main_menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li class="active"><a href="/courses">Courses</a></li>
                <li><a href="/trade">Buy/Sell</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
                <li title="your cart"><a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                <li class="navbar-signin"><a href="/login">Sign In / Sign Up</a></li>
            </ul>
        </div>

        <hr width: 100% color="orangered" style="margin: 10px 0px 10px 0px;">
        <div class="social-media-container">
            <div class="social-media">
                <h3>Follow Us</h3>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f" style="color: #1877f2;"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter" style="color: rgb(29, 155, 240);"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram" style="color: magenta;"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube" style="color: red;"></i></a></li>
                </ul>
            </div>
            <div class="contact-details">
                <h3>Contact Us</h3>
                <ul>
                    <li><i class="fas fa-phone-alt" style="color: green;"></i> Phone: 123-456-7890</li>
                    <li><i class="fas fa-envelope" style="color: red;"></i> Email: info@Campus Deal.com</li>
                </ul>
            </div>
        </div>
        <hr width: 100% color="orangered" style="margin: 10px 0px 10px 0px;">
        <section class="newsletter">
            <div>
                <h3>Subscribe to our newsletter</h3>
                <form action="#" class="newsletter-form">
                    <input type="email" placeholder="Enter your email...">
                    <button type="submit" class="btn">Subscribe</button>
                </form>
            </div>
        </section>
        <div class="quick-links">
            <div class="quick-links-container">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms and Conditions</a>
                <a href="#">FAQ</a>
            </div>
            <p style="text-align: center; margin-top: 20px;">&copy; 2023 Campus Deal. All Rights Reserved.</p>
        </div>

    </footer>


    <script src="./js/index.js"></script>
    <script src="./js/courses.js"></script>
    <script>
        const menu_bar = document.getElementById('menu_bar');
        function toggleMenu() {
            const main_menu = document.querySelector('.main_menu');
            if (main_menu.style.display === 'block') {
                main_menu.style.display = 'none';
            } else {
                main_menu.style.display = 'block';
            }
        }
        menu_bar.addEventListener('click', toggleMenu);

    </script>
    <script src="./js/dark.js"></script>
</body>

</html>