/* blog page card details style */
section.about-cont {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly
}

.tabs_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.tabs_wrapper h3 {
    border-radius: 20px 20px 0 0;
}

.about-cont-main-heading,
.about-heading {
    background: linear-gradient(to bottom, orange, #ff8c00);
    text-align: center;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
}

section.about-cont article {
    text-align: justify;
    margin: 10px;
    padding: 20px;
}

.about-heading:hover {
    background: linear-gradient(to bottom, orange, #ff9e27e1);
    transition: all 1s ease;

}


article {
    display: none;
    font-size: 20px;
}

article.active-article {
    display: block;
    border-top: 2px solid #ff8c00;


}

.active-heading {
    transform: scale(1.2, 1.2);
    transition: all 1s ease-in;
}