form#contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form#contact-form {
    margin: 10px;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

textarea {
    height: 150px;
}

input[type=submit] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #555;
}


/* Contact page card details style */
.card-email {
    border-left: 4px solid #f44336;
    margin: 10px;
    border-radius: 10px;

}

.card-phone {
    border-left: 4px solid #4caf50;
    margin: 10px;
    border-radius: 10px;

}

.card-address {
    border-left: 4px solid #2196f3;
    margin: 10px;
    border-radius: 10px;

}

.card-social {
    border-left: 4px solid #ff9800;
    margin: 10px;
    border-radius: 10px;

}

.card-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.card-social li {
    margin-right: 10px;
    margin: 10px;
}

.card-social li a,
.card-address a,
.card-phone a,
.card-email a {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease;

}

.contact-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;

}

.contact_message-container {
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px 20px 0 0;
}

@media (max-width: 767px) {

    .contact-container {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .contact_message-container {
        width: 90%;
        margin: 10px auto;
        padding: 10px;
        border-radius: 20px 20px 0 0;
    }
}